<p>
  diagram works!
</p>
<div #diagramDom class="diagram-container" style="width: 100%;height: 90vh;"></div>
<div #properties></div>
<!-- <div class="test"></div> -->
  <input type="file" #inputXMLFile (change)="handleFileInput($event.target.files)" style="display: none;">
<button style="position: fixed;right: 0;top: 0;z-index: 10;width: 50px;height: 40px;font-size: 1em;" (click)="onTestClicked()">test</button>

<!-- <app-overlay #myoverlay [name]="_overlayString"></app-overlay> -->
<!-- <app-overlay #myoverlay [name]="_overlayString"></app-overlay> -->

<template #templateContainer></template>
<!-- <div #testDiv>123</div> -->
